__pycache__
.ipynb_checkpoints
logs
*.pyc
*.lprof
*.prof
*egg-info*
*.gv*
test_data/
.venv
.dir-locals.el
stdout*
*.slurm
.mypy_cache
dist/
*.so
build/
nerfpose/scripts/ngp
*.temp
my-notebooks/
tmp/
*tmp/
tests.sh
